<%= form_for(@exhib) do |f| %>
  <% if @exhib.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exhib.errors.count, "error") %> prohibited this exhib from being saved:</h2>

      <ul>
      <% @exhib.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
