%h1 Listing sculps
= render(:partial => "sculpform",:object => @sculp1,:locals => { :categoryno => 1 })
= render(:partial => "sculpform",:object => @sculp2,:locals => { :categoryno => 2 })
= render(:partial => "sculpform",:object => @sculp3,:locals => { :categoryno => 3 })
