!!!
- #coding: utf-8
%html
  %head
    %title 作品管理画面
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #content= yield
:javascript
  $(function(){
    $("#sortable-table").sortable();
  });